main {
    display: flex;
    flex-direction: column;
    margin: 1em auto;



    .Header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       margin-top: 1em;

       @media screen and (max-width: 500px) {
        flex-direction: column;
       }

       .Input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: 5px;
        padding: 0 2em;
        margin: 1em;
        box-shadow:   2px 2px 5px rgba(0,0,0, 0.2);
    

        input{
            padding: 2em 2em;
            width: 100%;
        border: none;
        background: transparent;
        
        &:focus {
         
            outline: none;
        }

       @media screen and (max-width: 500px) {
        width: 100%;
       
        
        }
        }
        
}


       .Select {
        border: none;
        border-radius: 5px;
        padding: 0 1em;
        margin: 1em;
        box-shadow:   2px 2px 5px rgba(0,0,0, 0.2);
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 500px) {
        padding:  1em;
            
        }

        select{
            
            width: 100%;
          border: none;
          padding: 1em 3em;
         }
       }


     
    }



.MapCont {
    width: 100%;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;

    @media screen and (max-width: 500px) {
    padding: .5em;
        
    }
   
    .MapItems {
        width: 32%;
        display: flex;
    flex-direction: column;
   margin: .5em .2em;
    

  
     @media screen and (max-width: 768px) {
        width: 48%;
        
     }
     @media screen and (max-width: 500px) {
        width: 100%;
    padding: .5em;

        
     }
    }

    article {
        padding: 1em;
    }
}


}