*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


// Global variables

$pryColor: #202c37;
$secColor: #2b3945;
$whiteColor: #fff;
$lightWhite: #fafafa0b;
$lightGrey: #fafafa;
$mainFont: "Fira Sans", sans-serif;
$Shadow:    2px 2px 5px rgba(0,0,0, 0.2);


// Global variables



body {
    
    font-family: $mainFont;
    margin: 0;
    padding: 0;
}

body[data-themes="lightTheme"] {
    background-color: $whiteColor;
    color: $pryColor;
    .bg {
        background-color: $lightWhite;
    }
}


body[data-themes="darkTheme"] {
    background-color: $pryColor;
 color: $whiteColor;
 .bg {
    background-color: $lightWhite;
}
}


h2, h3, h4, h5 h6, p, a, small {
    font-family: $mainFont;
}


a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}



.Btn {
  
    border: none;
    background-color: transparent;
    transition: all 5s ease-in-out;
}


.BtnTextDark {
    color: #000;
}


.BtnTextLight {
    
    color: $whiteColor;
}

.container {
    width: 100%;
    max-width: 1320px;
    @media screen and (max-width: 1140px) {
        width: 100%;
    max-width: 1140px;
    }
    @media screen and (max-width: 960px) {
        width: 100%;
    max-width: 960px;
    }
    @media screen and (max-width: 720px) {
        width: 100%;
    max-width: 720px;
    }
}


// Image hover effect
img {
    width: 100%;
    object-fit: cover;
    object-position: top center;
    opacity: 1;
    // animation: ImgGrow .3s ease-in ;
    &:hover {
      
        animation: ImgGrow .5s ease-in ;
    }
}


@keyframes ImgGrow {

    0% {
        opacity: .5;
        transform: scaleX(1);
    }

    100% {
        opacity: 1;
        transform: scaleX(1.05);

    }
    
}